.footer {
  display: block;
  padding: 32px;
  width: 100%;
  background-color: var(--main-gray-color);
  color: var(--main-white-color);
}
.footer_flex {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.footer_flex h1, .footer_flex a {
  display: block;
  margin: 8px;
  font-size: 16px;
  color: var(--main-light-gray-color);
}
.footer_flex h1 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bolder;
  color: var(--main-white-color);
}
.footer_flex a {
  cursor: pointer;
}
.footer_flex a:hover {
  color: var(--main-white-color);
}
