.header {
  display: block;
  width: 100%;
  padding: 16px 64px;
  position: sticky;
  top: 0;
  background-color: var(--main-gray-color);
  color: var(--main-white-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.header_content_container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_content_container h1 {
  padding: 0;
}
.header_nav {
  display: block;
}
.header_nav ul {
  list-style: none;
}
.header_nav ul li {
  display: inline-block;
}
.header_nav ul li a {
  color: var(--main-light-gray-color);
  padding: 8px;
  cursor: pointer;
}
.header_nav ul li a:hover {
  color: var(--main-white-color);
}
