.header {
  display: block;
  width: 100%;
  padding: 16px 64px;
  background-color: var(--main-gray-color);
  color: var(--main-white-color);
}
.header_content_container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_content_container h1 {
  padding: 0;
}
.header_nav {
  display: block;
}
.header_nav ul {
  list-style: none;
}
.header_nav ul li {
  display: inline-block;
}
.header_nav ul li a {
  color: inherit;
  padding: 8px;
}
