:root {
  /* GUIDE LINES */
  /* COLOR SCHEME */
  --main-gray-color: #191919;
  --main-light-gray-color: #a5a5a5;
  --main-blue-color: #1794de;
  --main-white-color: #FFFFFF;
  /* FONTS */
  --main-font: 'Open Sans', sans-serif;
  --main-alt-font: 'Roboto Mono', monospace;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-alt-font);
}
p, a {
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--main-gray-color);
}

.main {
  display: block;
  margin: 32px 0;
}

.top_content {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}
.top_content_left {

}
.top_content_nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 8px;
}

.top_content_nav_item {
  display: block;
  padding: 8px;
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
  text-align: center;
  box-shadow: 1px 1px 4px 1px rgba(200, 200, 200, 1);
}

.spacer {
  display: block;
  width: 1px;
  margin: 16px;
  background-color: rgb(58, 58, 58, .5);
}

.top_content_right {
  display: block;
  width: 30%;
}

.projectViewer {
  display: block;
  width: 100%;
  box-shadow: 1px 1px 4px 1px rgb(58, 58, 58, .5);
}
.project__title {
  display: block;
  padding: 8px;
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
}
.project__img {
  display: block;
  width: 100%;
}
.project__description {
  display: block;
  width: 100%;
  background-color: rgb(230, 230, 230);
}

.projects {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 32px 0;
}
.project_card {
  display: block;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.project_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.project_text_content {
  padding: 16px;
  grid-column: 1 / span 2;
}
.project_text_content h1 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 900;
}
.project_text_content p {
  margin-top: 12px;
}
.project_links {
  padding: 16px;
  text-align: center;
  background-position: 0 0;
  background-size: 200% 200%;
  transition: background .10s ease-in;
  border-top: 1px solid var(--main-gray-color);
  background-image: linear-gradient(to bottom, transparent, transparent 50%, var(--main-gray-color) 50%, var(--main-gray-color));
}
.project_links:hover {
  color: #fff;
  background-position: 0 -100%;
}
