:root {
  /* GUIDE LINES */
  /* COLOR SCHEME */
  --main-gray-color: #3A3A3A;
  --main-blue-color: #1794de;
  --main-background-color: #FFFFFF;
  /* FONTS */
  --main-font: 'Open Sans' sans-serif;
  --main-alt-font: 'Roboto Mono', monospace;
}
