:root {
  /* GUIDE LINES */
  /* COLOR SCHEME */
  --main-gray-color: #3A3A3A;
  --main-blue-color: #1794de;
  --main-white-color: #FFFFFF;
  /* FONTS */
  --main-font: 'Open Sans', sans-serif;
  --main-alt-font: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-alt-font);
}
p, a {
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--main-gray-color);
}

.main {
  display: block;
  margin: 32px 0;
}

.top_content {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}
.top_content_left {

}
.top_content_nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 8px;
}

.top_content_nav_item {
  display: block;
  padding: 8px;
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
  text-align: center;
  box-shadow: 1px 1px 4px 1px rgba(200, 200, 200, 1);
}

.spacer {
  display: block;
  width: 1px;
  margin: 16px;
  background-color: rgb(58, 58, 58, .5);
}

.top_content_right {
  display: block;
  width: 30%;
}

.projectViewer {
  display: block;
  width: 100%;
  box-shadow: 1px 1px 4px 1px rgb(58, 58, 58, .5);
}
.project__title {
  display: block;
  padding: 8px;
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
}
.project__img {
  display: block;
  width: 100%;
}
.project__description {
  display: block;
  width: 100%;
  background-color: rgb(230, 230, 230);
}
