:root {
  /* GUIDE LINES */
  /* COLOR SCHEME */
  --main-gray-color: #191919;
  --main-light-gray-color: #a5a5a5;
  --main-blue-color: #1794de;
  --main-white-color: #FFFFFF;
  /* FONTS */
  --main-font: 'Open Sans', sans-serif;
  --main-header-font: 'Roboto Mono', monospace;
  --alt-header-font:'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: block;
  width: 100%;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-header-font);
}
p, a {
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--main-gray-color);
}

.main {

}

.top_content {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}
.top_content_left {

}
.top_content_nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 8px;
}

.top_content_nav_item {
  display: block;
  padding: 8px;
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
  text-align: center;
  box-shadow: 1px 1px 4px 1px rgba(200, 200, 200, 1);
}

.spacer {
  display: block;
  width: 1px;
  margin: 16px;
  background-color: rgb(58, 58, 58, .5);
}


.section_header_white {
  color: var(--main-white-color);
  font-size: 32px;
  padding-bottom: 16px;
}
.section_header_gray {
  color: var(--main-gray-color);
  font-size: 32px;
  padding-bottom: 16px;
}

/* General Styling for all sections */
.section {
  display: block;
  width: 100%;
  min-height: 100vh;
  padding: 64px;
}
.section:nth-child(odd) {
  background-color: var(--main-white-color);
}
.section:nth-child(even) {
  color: var(--main-white-color);
  background-color: var(--main-gray-color);
}


/* Stlying for section: Home */
.home {

}
.home_container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.home_header {
  margin-left: 32px;
  font-family: var(--alt-header-font);
  font-size: 48px;
}



/* Styling for section: About */
.about {

}
.about_container {
  display: grid;
  grid-template-columns: 33.3% 33.4% 33.3%;
  grid-template-rows: auto auto;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
.about_container_item:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.about_container_item img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}
.about_container_item:nth-child(2) {
  grid-column: 2 / span 2;
}
.about_container_item:nth-child(3) {
  grid-column: 1 / span 1;
}
.about_container_item {
  display: block;
  padding: 32px;
}
.about_container_item h1 {
  margin: 8px 0;
  font-size: 24px;
}
.about_container_item p {
  color: inherit;
}



/* Styling for section: Projects */
.projects {

}
.project_card_container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.project_card {
  display: block;
  width: 300px;
  margin: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.project_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.project_text_content {
  padding: 16px;
  grid-column: 1 / span 2;
}
.project_text_content h1 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 900;
}
.project_text_content p {
  margin-top: 12px;
}
.project_links {
  padding: 16px;
  text-align: center;
  background-position: 0 0;
  background-size: 200% 200%;
  transition: background .10s ease-in;
  border-top: 1px solid var(--main-gray-color);
  background-image: linear-gradient(to bottom, transparent, transparent 50%, var(--main-gray-color) 50%, var(--main-gray-color));
}
.project_links:hover {
  color: #fff;
  background-position: 0 -100%;
}
